{% extends 'base.html' %} {% block title %} Index {% endblock title %} {% block body %}


<div class="container fixed-top" id="resized">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Please do not resize the page
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
    </div>
</div>

<div class="container fixed-top" id="switchTab1">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Please do not switch tabs, <strong>First</strong> warning!!.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
    </div>
</div>
<div class="container fixed-top" id="switchTab2">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Please do not switch tabs, <strong>Second</strong> warning!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
    </div>
</div>
<div class="container fixed-top" id="switchTab3">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Please do not switch tabs, <strong>Last</strong> warning!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
    </div>
</div>

<div class="container fixed-top" id="autoSubmit">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Thanks for the exam, Auto Submitting!! <span id="timer"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
    </div>
</div>
<div class="container mt-5 pt-5">
    <div>Time Left <span id="time">60:00</span> minutes!</div>
    <p id="demo"></p>

</div>
<div class="container mt-5 pt-5">
    <form action="/submit" method="POST">

        <div class="form-group">
            <label for="info">New Description</label>
            <textarea rows="8" type="text" class="form-control" id="ans1" name="ans1">Ans1</textarea>
        </div>

        <div class="form-group">
            <label for="achievements">Edit achievements</label>
            <textarea rows="8" type="text" class="form-control" id="ans2" name="ans2">Ans2</textarea>
        </div>

        <div class="container mt-5 pt-5">
            <button type="submit" class="btn btn-primary " id="submitButton">Submit</button>
        </div>
    </form>

    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
</div>




{% endblock body %} {% block scripts %}
<script src="{{ url_for('static', filename='js/main.js')  }}"></script>

{% endblock scripts %}